In [1]:
val input = sc.textFile("wasb:///iris-multiclass.csv")
input.count()

Creating SparkContext as 'sc'
Creating SqlContext as 'sqlContext'
Creating HiveContext as 'hiveContext'
res0: Long = 150

In [2]:
input.first()

res1: String = 5.1,3.5,1.4,0.2,Iris-setosa

In [3]:
val splitter = input.map(line => line.split(','))
val num = splitter.map(line => (line(4), 1)).reduceByKey((a, b) => a + b)

num: org.apache.spark.rdd.RDD[(String, Int)] = ShuffledRDD[4] at reduceByKey at <console>:24

In [4]:
num.take(3)

res2: Array[(String, Int)] = Array((Iris-versicolor,50), (Iris-virginica,50), (Iris-setosa,50))

In [5]:
import sqlContext.implicits._
case class Iris(SepalLength : Double, SepalWidth : Double, PetalLength : Double, PetalWidth : Double, Species : String)
val splitter = input.map(line => line.split(',')).map{ line => 
    Iris(line(0).toDouble, line(1).toDouble, line(2).toDouble, line(3).toDouble, line(4))
    }
val df = splitter.toDF()

df: org.apache.spark.sql.DataFrame = [SepalLength: double, SepalWidth: double, PetalLength: double, PetalWidth: double, Species: string]

In [6]:
df.groupBy("Species").count().show()

+---------------+-----+
|        Species|count|
+---------------+-----+
|    Iris-setosa|   50|
| Iris-virginica|   50|
|Iris-versicolor|   50|
+---------------+-----+

In [7]:
df.registerTempTable("iris")
sqlContext.sql("SELECT Species, COUNT(Species) FROM iris GROUP BY Species").show()

+---------------+---+
|        Species|_c1|
+---------------+---+
|    Iris-setosa| 50|
| Iris-virginica| 50|
|Iris-versicolor| 50|
+---------------+---+