In [1]:
from numpy import *
from pyspark import SparkContext
from pyspark.sql import SQLContext
from pyspark.sql.types import *
import matplotlib

sc = SparkContext('yarn-client')
input = sc.textFile("wasb:///iris-multiclass.csv")
input.count()

150

In [2]:
input.first()

u'5.1,3.5,1.4,0.2,Iris-setosa'

In [4]:
splitter = input.map(lambda line: line.split(','))
num = splitter.map(lambda line: (line[4], 1))

In [5]:
num.take(3)

[(u'Iris-setosa', 1), (u'Iris-versicolor', 1), (u'Iris-virginica', 1)]

In [6]:
sqlContext = SQLContext(sc)
schemaString = "SepalLength SepalWidth PetalLength PetalWidth Species"

fields = [StructField(field_name, StringType(), True) for field_name in schemaString.split()]
schema = StructType(fields)

df = sqlContext.createDataFrame(splitter, schema)

In [7]:
df.groupBy("Species").count().show()

+---------------+-----+
|        Species|count|
+---------------+-----+
|    Iris-setosa|   50|
| Iris-virginica|   50|
|Iris-versicolor|   50|
+---------------+-----+

In [8]:
df.registerTempTable("iris")
sqlContext.sql("SELECT Species, COUNT(Species) FROM iris GROUP BY Species").show()

+---------------+---+
|        Species|_c1|
+---------------+---+
|    Iris-setosa| 50|
| Iris-virginica| 50|
|Iris-versicolor| 50|
+---------------+---+